{
  "openapi": "3.1.0",
  "info": {
    "title": "SatStacker Engine Partner API",
    "version": "1.0.0",
    "description": "Embed Smart Timing into your own DCA experience while keeping the customer relationship, custody, funding, and execution on your platform."
  },
  "servers": [
    {
      "url": "https://api.satstacker.app",
      "description": "SatStacker Engine API"
    }
  ],
  "paths": {
    "/partner/v1/health": {
      "get": {
        "tags": [
          "Partner API"
        ],
        "summary": "Partner Health",
        "description": "Public health check \u2014 no auth required.",
        "operationId": "health",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/partner/v1/me": {
      "get": {
        "tags": [
          "Partner API"
        ],
        "summary": "Whoami",
        "description": "Returns the authenticated partner. Useful for integration testing.",
        "operationId": "me",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerMeOut"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/partner/v1/users": {
      "post": {
        "tags": [
          "Partner API"
        ],
        "summary": "Create Or Link Partner User",
        "operationId": "users",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PartnerUserCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerUserOut"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/partner/v1/plans": {
      "post": {
        "tags": [
          "Partner API"
        ],
        "summary": "Create Partner Plan",
        "operationId": "plans",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PartnerPlanCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerPlanOut"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/partner/v1/executions/due": {
      "get": {
        "tags": [
          "Partner API"
        ],
        "summary": "Get Due Executions",
        "operationId": "executions-due",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 500,
              "minimum": 1,
              "default": 50,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExecutionInstructionOut"
                  },
                  "title": "Response Get Due Executions Partner V1 Executions Due Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/partner/v1/executions/{execution_id}/confirm": {
      "post": {
        "tags": [
          "Partner API"
        ],
        "summary": "Confirm Execution",
        "operationId": "confirm-execution",
        "parameters": [
          {
            "name": "execution_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Execution Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TradeConfirmIn"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfirmExecutionOut"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/partner/v1/billing/monthly": {
      "get": {
        "tags": [
          "Partner API"
        ],
        "summary": "Monthly Billing Report",
        "operationId": "billing-monthly",
        "parameters": [
          {
            "name": "month",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "2026-05"
              ],
              "title": "Month"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonthlyBillingReportOut"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/partner/v1/billing/monthly/users": {
      "get": {
        "tags": [
          "Partner API"
        ],
        "summary": "Monthly Billing User Breakdown",
        "operationId": "billing-monthly-users",
        "parameters": [
          {
            "name": "month",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "2026-05"
              ],
              "title": "Month"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 10000,
              "minimum": 1,
              "default": 1000,
              "title": "Limit"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0,
              "title": "Offset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonthlyBillingUsersOut"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "PartnerUserCreate": {
        "properties": {
          "partner_user_id": {
            "type": "string",
            "maxLength": 255,
            "minLength": 1,
            "title": "Partner User Id",
            "examples": [
              "rhino_user_123"
            ]
          },
          "email": {
            "anyOf": [
              {
                "type": "string",
                "format": "email"
              },
              {
                "type": "null"
              }
            ],
            "title": "Email"
          },
          "auth_provider": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 64
              },
              {
                "type": "null"
              }
            ],
            "title": "Auth Provider",
            "examples": [
              "apple",
              "google",
              "email"
            ]
          },
          "consent_accepted": {
            "type": "boolean",
            "title": "Consent Accepted"
          },
          "consent_version": {
            "type": "string",
            "maxLength": 128,
            "minLength": 1,
            "title": "Consent Version",
            "examples": [
              "satstacker-smart-timing-v1"
            ]
          },
          "consent_timestamp": {
            "type": "string",
            "format": "date-time",
            "title": "Consent Timestamp"
          }
        },
        "type": "object",
        "required": [
          "partner_user_id",
          "consent_accepted",
          "consent_version",
          "consent_timestamp"
        ],
        "title": "PartnerUserCreate"
      },
      "PartnerUserOut": {
        "properties": {
          "ok": {
            "type": "boolean",
            "title": "Ok"
          },
          "partner_slug": {
            "type": "string",
            "title": "Partner Slug"
          },
          "partner_user_id": {
            "type": "string",
            "title": "Partner User Id"
          },
          "satstacker_partner_user_id": {
            "type": "string",
            "title": "Satstacker Partner User Id"
          },
          "email": {
            "anyOf": [
              {
                "type": "string",
                "format": "email"
              },
              {
                "type": "null"
              }
            ],
            "title": "Email"
          },
          "status": {
            "type": "string",
            "title": "Status"
          }
        },
        "type": "object",
        "required": [
          "ok",
          "partner_slug",
          "partner_user_id",
          "satstacker_partner_user_id",
          "status"
        ],
        "title": "PartnerUserOut"
      },
      "PartnerPlanCreate": {
        "properties": {
          "partner_user_id": {
            "type": "string",
            "maxLength": 255,
            "minLength": 1,
            "title": "Partner User Id"
          },
          "partner_plan_id": {
            "type": "string",
            "maxLength": 255,
            "minLength": 1,
            "title": "Partner Plan Id"
          },
          "amount_usd": {
            "anyOf": [
              {
                "type": "number",
                "exclusiveMinimum": 0
              },
              {
                "type": "string",
                "pattern": "^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$"
              }
            ],
            "title": "Amount Usd"
          },
          "frequency": {
            "type": "string",
            "enum": [
              "daily",
              "weekly",
              "bi-weekly"
            ],
            "title": "Frequency"
          },
          "smart_timing_enabled": {
            "type": "boolean",
            "title": "Smart Timing Enabled",
            "default": true
          },
          "start_date": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Start Date"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "paused",
              "cancelled"
            ],
            "title": "Status",
            "default": "active"
          }
        },
        "type": "object",
        "required": [
          "partner_user_id",
          "partner_plan_id",
          "amount_usd",
          "frequency"
        ],
        "title": "PartnerPlanCreate"
      },
      "PartnerPlanOut": {
        "properties": {
          "ok": {
            "type": "boolean",
            "title": "Ok"
          },
          "partner_slug": {
            "type": "string",
            "title": "Partner Slug"
          },
          "partner_user_id": {
            "type": "string",
            "title": "Partner User Id"
          },
          "partner_plan_id": {
            "type": "string",
            "title": "Partner Plan Id"
          },
          "status": {
            "type": "string",
            "title": "Status"
          },
          "amount_usd": {
            "type": "string",
            "pattern": "^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$",
            "title": "Amount Usd"
          },
          "frequency": {
            "type": "string",
            "title": "Frequency"
          },
          "smart_timing_enabled": {
            "type": "boolean",
            "title": "Smart Timing Enabled"
          },
          "window_start": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Window Start"
          },
          "next_run": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Next Run"
          },
          "unspent_fiat_usd": {
            "anyOf": [
              {
                "type": "string",
                "pattern": "^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$"
              },
              {
                "type": "null"
              }
            ],
            "title": "Unspent Fiat Usd"
          }
        },
        "type": "object",
        "required": [
          "ok",
          "partner_slug",
          "partner_user_id",
          "partner_plan_id",
          "status",
          "amount_usd",
          "frequency",
          "smart_timing_enabled",
          "window_start",
          "next_run",
          "unspent_fiat_usd"
        ],
        "title": "PartnerPlanOut"
      },
      "ExecutionInstructionOut": {
        "properties": {
          "execution_id": {
            "type": "string",
            "title": "Execution Id"
          },
          "partner_slug": {
            "type": "string",
            "title": "Partner Slug"
          },
          "partner_user_id": {
            "type": "string",
            "title": "Partner User Id"
          },
          "partner_plan_id": {
            "type": "string",
            "title": "Partner Plan Id"
          },
          "side": {
            "type": "string",
            "const": "buy",
            "title": "Side",
            "default": "buy"
          },
          "asset": {
            "type": "string",
            "const": "BTC",
            "title": "Asset",
            "default": "BTC"
          },
          "spend_currency": {
            "type": "string",
            "const": "USD",
            "title": "Spend Currency",
            "default": "USD"
          },
          "amount_usd": {
            "type": "string",
            "pattern": "^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$",
            "title": "Amount Usd"
          },
          "reason": {
            "type": "string",
            "title": "Reason"
          },
          "idempotency_key": {
            "type": "string",
            "title": "Idempotency Key"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At"
          },
          "lease_expires_at": {
            "type": "string",
            "format": "date-time",
            "title": "Lease Expires At"
          },
          "delivered_count": {
            "type": "integer",
            "title": "Delivered Count"
          }
        },
        "type": "object",
        "required": [
          "execution_id",
          "partner_slug",
          "partner_user_id",
          "partner_plan_id",
          "amount_usd",
          "reason",
          "idempotency_key",
          "created_at",
          "lease_expires_at",
          "delivered_count"
        ],
        "title": "ExecutionInstructionOut"
      },
      "TradeConfirmIn": {
        "properties": {
          "partner_order_id": {
            "type": "string",
            "maxLength": 255,
            "minLength": 1,
            "title": "Partner Order Id"
          },
          "status": {
            "type": "string",
            "enum": [
              "filled",
              "failed",
              "cancelled",
              "partial"
            ],
            "title": "Status"
          },
          "executed_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Executed At"
          },
          "usd_amount": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "string",
                "pattern": "^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$"
              },
              {
                "type": "null"
              }
            ],
            "title": "Usd Amount"
          },
          "btc_amount": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "string",
                "pattern": "^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$"
              },
              {
                "type": "null"
              }
            ],
            "title": "Btc Amount"
          },
          "execution_price": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "string",
                "pattern": "^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$"
              },
              {
                "type": "null"
              }
            ],
            "title": "Execution Price"
          },
          "partner_fee_usd": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "string",
                "pattern": "^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$"
              },
              {
                "type": "null"
              }
            ],
            "title": "Partner Fee Usd",
            "default": "0.00"
          },
          "failure_reason": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 512
              },
              {
                "type": "null"
              }
            ],
            "title": "Failure Reason"
          }
        },
        "type": "object",
        "required": [
          "partner_order_id",
          "status"
        ],
        "title": "TradeConfirmIn"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          },
          "input": {
            "title": "Input"
          },
          "ctx": {
            "type": "object",
            "title": "Context"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      },
      "PartnerMeOut": {
        "type": "object",
        "title": "PartnerMeOut",
        "required": [
          "partner_slug",
          "partner_name",
          "status",
          "environment"
        ],
        "properties": {
          "partner_slug": {
            "type": "string",
            "title": "Partner Slug"
          },
          "partner_name": {
            "type": "string",
            "title": "Partner Name"
          },
          "status": {
            "type": "string",
            "title": "Status"
          },
          "environment": {
            "type": "string",
            "enum": [
              "test",
              "live"
            ],
            "title": "Environment"
          }
        }
      },
      "ConfirmExecutionOut": {
        "type": "object",
        "title": "ConfirmExecutionOut",
        "required": [
          "ok",
          "execution_id",
          "status",
          "partner_order_id"
        ],
        "properties": {
          "ok": {
            "type": "boolean",
            "title": "Ok"
          },
          "execution_id": {
            "type": "string",
            "title": "Execution Id"
          },
          "status": {
            "type": "string",
            "enum": [
              "filled",
              "partial",
              "failed",
              "cancelled"
            ],
            "title": "Status"
          },
          "partner_order_id": {
            "type": "string",
            "title": "Partner Order Id"
          },
          "replayed": {
            "type": "boolean",
            "title": "Replayed",
            "default": false
          }
        }
      },
      "BillingPricingOut": {
        "type": "object",
        "title": "BillingPricingOut",
        "required": [
          "tier",
          "subscription_rate_usd_per_user",
          "volume_rate_bps",
          "tier_overridden",
          "subscription_overridden",
          "volume_overridden"
        ],
        "properties": {
          "tier": {
            "type": "string",
            "title": "Tier"
          },
          "subscription_rate_usd_per_user": {
            "type": "string",
            "pattern": "^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$",
            "title": "Subscription Rate Usd Per User"
          },
          "volume_rate_bps": {
            "type": "string",
            "pattern": "^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$",
            "title": "Volume Rate Bps"
          },
          "tier_overridden": {
            "type": "boolean",
            "title": "Tier Overridden"
          },
          "subscription_overridden": {
            "type": "boolean",
            "title": "Subscription Overridden"
          },
          "volume_overridden": {
            "type": "boolean",
            "title": "Volume Overridden"
          }
        }
      },
      "MonthlyBillingReportOut": {
        "type": "object",
        "title": "MonthlyBillingReportOut",
        "required": [
          "partner_slug",
          "month",
          "period_start",
          "period_end",
          "period_status",
          "active_funded_users",
          "executed_volume_usd",
          "executed_trade_count",
          "pricing",
          "subscription_fee_total",
          "volume_fee_total",
          "total_due"
        ],
        "properties": {
          "partner_slug": {
            "type": "string",
            "title": "Partner Slug"
          },
          "month": {
            "type": "string",
            "title": "Month"
          },
          "period_start": {
            "type": "string",
            "format": "date-time",
            "title": "Period Start"
          },
          "period_end": {
            "type": "string",
            "format": "date-time",
            "title": "Period End"
          },
          "period_status": {
            "type": "string",
            "enum": [
              "in_progress",
              "closed"
            ],
            "title": "Period Status"
          },
          "active_funded_users": {
            "type": "integer",
            "title": "Active Funded Users"
          },
          "executed_volume_usd": {
            "type": "string",
            "pattern": "^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$",
            "title": "Executed Volume Usd"
          },
          "executed_trade_count": {
            "type": "integer",
            "title": "Executed Trade Count"
          },
          "pricing": {
            "$ref": "#/components/schemas/BillingPricingOut"
          },
          "subscription_fee_total": {
            "type": "string",
            "pattern": "^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$",
            "title": "Subscription Fee Total"
          },
          "volume_fee_total": {
            "type": "string",
            "pattern": "^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$",
            "title": "Volume Fee Total"
          },
          "total_due": {
            "type": "string",
            "pattern": "^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$",
            "title": "Total Due"
          }
        }
      },
      "MonthlyBillingUserOut": {
        "type": "object",
        "title": "MonthlyBillingUserOut",
        "required": [
          "partner_user_id",
          "executed_volume_usd",
          "executed_btc",
          "trade_count"
        ],
        "properties": {
          "partner_user_id": {
            "type": "string",
            "title": "Partner User Id"
          },
          "executed_volume_usd": {
            "type": "string",
            "pattern": "^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$",
            "title": "Executed Volume Usd"
          },
          "executed_btc": {
            "type": "string",
            "pattern": "^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$",
            "title": "Executed Btc"
          },
          "trade_count": {
            "type": "integer",
            "title": "Trade Count"
          }
        }
      },
      "MonthlyBillingUsersOut": {
        "type": "object",
        "title": "MonthlyBillingUsersOut",
        "required": [
          "partner_slug",
          "month",
          "period_status",
          "limit",
          "offset",
          "count",
          "users"
        ],
        "properties": {
          "partner_slug": {
            "type": "string",
            "title": "Partner Slug"
          },
          "month": {
            "type": "string",
            "title": "Month"
          },
          "period_status": {
            "type": "string",
            "enum": [
              "in_progress",
              "closed"
            ],
            "title": "Period Status"
          },
          "limit": {
            "type": "integer",
            "title": "Limit"
          },
          "offset": {
            "type": "integer",
            "title": "Offset"
          },
          "count": {
            "type": "integer",
            "title": "Count"
          },
          "users": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MonthlyBillingUserOut"
            },
            "title": "Users"
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication. Use your `sse_test_*` or `sse_live_*` API key."
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ]
}
