{
  "openapi": "3.1.0",
  "info": {
    "title": "SatStacker Engine Partner API",
    "version": "1.0.0",
    "description": "Embed Smart Timing into your own DCA experience while keeping the customer relationship, custody, funding, and execution on your platform."
  },
  "servers": [
    {
      "url": "https://api.satstacker.app",
      "description": "Production"
    }
  ],
  "paths": {
    "/partner/v1/health": {
      "get": {
        "tags": [
          "Partner API"
        ],
        "summary": "Partner Health",
        "description": "Public health check — no auth required.",
        "operationId": "partner_health_partner_v1_health_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/partner/v1/me": {
      "get": {
        "tags": [
          "Partner API"
        ],
        "summary": "Whoami",
        "description": "Returns the authenticated partner. Useful for integration testing.",
        "operationId": "whoami_partner_v1_me_get",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/partner/v1/users": {
      "post": {
        "tags": [
          "Partner API"
        ],
        "summary": "Create Or Link Partner User",
        "operationId": "create_or_link_partner_user_partner_v1_users_post",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PartnerUserCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerUserOut"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/partner/v1/plans": {
      "post": {
        "tags": [
          "Partner API"
        ],
        "summary": "Create Partner Plan",
        "operationId": "create_partner_plan_partner_v1_plans_post",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PartnerPlanCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerPlanOut"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/partner/v1/executions/due": {
      "get": {
        "tags": [
          "Partner API"
        ],
        "summary": "Get Due Executions",
        "operationId": "get_due_executions_partner_v1_executions_due_get",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 500,
              "minimum": 1,
              "default": 50,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExecutionInstructionOut"
                  },
                  "title": "Response Get Due Executions Partner V1 Executions Due Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/partner/v1/executions/{execution_id}/confirm": {
      "post": {
        "tags": [
          "Partner API"
        ],
        "summary": "Confirm Execution",
        "operationId": "confirm_execution_partner_v1_executions__execution_id__confirm_post",
        "parameters": [
          {
            "name": "execution_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Execution Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TradeConfirmIn"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/partner/v1/billing/monthly": {
      "get": {
        "tags": [
          "Partner API"
        ],
        "summary": "Monthly Billing Report",
        "operationId": "monthly_billing_report_partner_v1_billing_monthly_get",
        "parameters": [
          {
            "name": "month",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "2026-05"
              ],
              "title": "Month"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/partner/v1/billing/monthly/users": {
      "get": {
        "tags": [
          "Partner API"
        ],
        "summary": "Monthly Billing User Breakdown",
        "operationId": "monthly_billing_user_breakdown_partner_v1_billing_monthly_users_get",
        "parameters": [
          {
            "name": "month",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "2026-05"
              ],
              "title": "Month"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 10000,
              "minimum": 1,
              "default": 1000,
              "title": "Limit"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0,
              "title": "Offset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "PartnerUserCreate": {
        "properties": {
          "partner_user_id": {
            "type": "string",
            "maxLength": 255,
            "minLength": 1,
            "title": "Partner User Id",
            "examples": [
              "rhino_user_123"
            ]
          },
          "email": {
            "anyOf": [
              {
                "type": "string",
                "format": "email"
              },
              {
                "type": "null"
              }
            ],
            "title": "Email"
          },
          "auth_provider": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 64
              },
              {
                "type": "null"
              }
            ],
            "title": "Auth Provider",
            "examples": [
              "apple",
              "google",
              "email"
            ]
          },
          "consent_accepted": {
            "type": "boolean",
            "title": "Consent Accepted"
          },
          "consent_version": {
            "type": "string",
            "maxLength": 128,
            "minLength": 1,
            "title": "Consent Version",
            "examples": [
              "satstacker-smart-timing-v1"
            ]
          },
          "consent_timestamp": {
            "type": "string",
            "format": "date-time",
            "title": "Consent Timestamp"
          }
        },
        "type": "object",
        "required": [
          "partner_user_id",
          "consent_accepted",
          "consent_version",
          "consent_timestamp"
        ],
        "title": "PartnerUserCreate"
      },
      "PartnerUserOut": {
        "properties": {
          "ok": {
            "type": "boolean",
            "title": "Ok"
          },
          "partner_slug": {
            "type": "string",
            "title": "Partner Slug"
          },
          "partner_user_id": {
            "type": "string",
            "title": "Partner User Id"
          },
          "satstacker_partner_user_id": {
            "type": "string",
            "title": "Satstacker Partner User Id"
          },
          "email": {
            "anyOf": [
              {
                "type": "string",
                "format": "email"
              },
              {
                "type": "null"
              }
            ],
            "title": "Email"
          },
          "status": {
            "type": "string",
            "title": "Status"
          }
        },
        "type": "object",
        "required": [
          "ok",
          "partner_slug",
          "partner_user_id",
          "satstacker_partner_user_id",
          "status"
        ],
        "title": "PartnerUserOut"
      },
      "PartnerPlanCreate": {
        "properties": {
          "partner_user_id": {
            "type": "string",
            "maxLength": 255,
            "minLength": 1,
            "title": "Partner User Id"
          },
          "partner_plan_id": {
            "type": "string",
            "maxLength": 255,
            "minLength": 1,
            "title": "Partner Plan Id"
          },
          "amount_usd": {
            "anyOf": [
              {
                "type": "number",
                "exclusiveMinimum": 0
              },
              {
                "type": "string",
                "pattern": "^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$"
              }
            ],
            "title": "Amount Usd"
          },
          "frequency": {
            "type": "string",
            "enum": [
              "daily",
              "weekly",
              "bi-weekly"
            ],
            "title": "Frequency"
          },
          "smart_timing_enabled": {
            "type": "boolean",
            "title": "Smart Timing Enabled",
            "default": true
          },
          "start_date": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Start Date"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "paused",
              "cancelled"
            ],
            "title": "Status",
            "default": "active"
          }
        },
        "type": "object",
        "required": [
          "partner_user_id",
          "partner_plan_id",
          "amount_usd",
          "frequency"
        ],
        "title": "PartnerPlanCreate"
      },
      "PartnerPlanOut": {
        "properties": {
          "ok": {
            "type": "boolean",
            "title": "Ok"
          },
          "partner_slug": {
            "type": "string",
            "title": "Partner Slug"
          },
          "partner_user_id": {
            "type": "string",
            "title": "Partner User Id"
          },
          "partner_plan_id": {
            "type": "string",
            "title": "Partner Plan Id"
          },
          "status": {
            "type": "string",
            "title": "Status"
          },
          "amount_usd": {
            "type": "string",
            "pattern": "^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$",
            "title": "Amount Usd"
          },
          "frequency": {
            "type": "string",
            "title": "Frequency"
          }
        },
        "type": "object",
        "required": [
          "ok",
          "partner_slug",
          "partner_user_id",
          "partner_plan_id",
          "status",
          "amount_usd",
          "frequency"
        ],
        "title": "PartnerPlanOut"
      },
      "ExecutionInstructionOut": {
        "properties": {
          "execution_id": {
            "type": "string",
            "title": "Execution Id"
          },
          "partner_slug": {
            "type": "string",
            "title": "Partner Slug"
          },
          "partner_user_id": {
            "type": "string",
            "title": "Partner User Id"
          },
          "partner_plan_id": {
            "type": "string",
            "title": "Partner Plan Id"
          },
          "side": {
            "type": "string",
            "const": "buy",
            "title": "Side",
            "default": "buy"
          },
          "asset": {
            "type": "string",
            "const": "BTC",
            "title": "Asset",
            "default": "BTC"
          },
          "spend_currency": {
            "type": "string",
            "const": "USD",
            "title": "Spend Currency",
            "default": "USD"
          },
          "amount_usd": {
            "type": "string",
            "pattern": "^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$",
            "title": "Amount Usd"
          },
          "reason": {
            "type": "string",
            "title": "Reason"
          },
          "idempotency_key": {
            "type": "string",
            "title": "Idempotency Key"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At"
          }
        },
        "type": "object",
        "required": [
          "execution_id",
          "partner_slug",
          "partner_user_id",
          "partner_plan_id",
          "amount_usd",
          "reason",
          "idempotency_key",
          "created_at"
        ],
        "title": "ExecutionInstructionOut"
      },
      "TradeConfirmIn": {
        "properties": {
          "partner_order_id": {
            "type": "string",
            "maxLength": 255,
            "minLength": 1,
            "title": "Partner Order Id"
          },
          "status": {
            "type": "string",
            "enum": [
              "filled",
              "failed",
              "cancelled",
              "partial"
            ],
            "title": "Status"
          },
          "executed_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Executed At"
          },
          "usd_amount": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "string",
                "pattern": "^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$"
              },
              {
                "type": "null"
              }
            ],
            "title": "Usd Amount"
          },
          "btc_amount": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "string",
                "pattern": "^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$"
              },
              {
                "type": "null"
              }
            ],
            "title": "Btc Amount"
          },
          "execution_price": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "string",
                "pattern": "^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$"
              },
              {
                "type": "null"
              }
            ],
            "title": "Execution Price"
          },
          "partner_fee_usd": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "string",
                "pattern": "^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$"
              },
              {
                "type": "null"
              }
            ],
            "title": "Partner Fee Usd",
            "default": "0.00"
          },
          "failure_reason": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 512
              },
              {
                "type": "null"
              }
            ],
            "title": "Failure Reason"
          }
        },
        "type": "object",
        "required": [
          "partner_order_id",
          "status"
        ],
        "title": "TradeConfirmIn"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          },
          "input": {
            "title": "Input"
          },
          "ctx": {
            "type": "object",
            "title": "Context"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication. Use your `sse_test_*` or `sse_live_*` API key."
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ]
}
